.profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 47.25px;
}

@media screen and (max-width:768px) {
    .profile {
        margin-bottom: 32px;
        flex-direction: column;
    }
}