.popup__input {
    margin: 0 0 30px;
    padding: 0;
    max-width: 358px;
    border: 0;
    width: 100%;
    font-family: inherit;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    outline: none;
}

@media screen and (max-width:768px) {
    .popup__input {
        max-width: 238px;
    }
}