.profile__add-button {
    margin: 0;
    padding: 0;
    background: url(../../../image/Add\ Button.svg) center no-repeat;
    background-size: contain;
    border: none;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    align-self: center;
    cursor: pointer;
    transition: 0.2s ease;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .profile__add-button {
        background: url(../../../image/Add\ Button\ \(1\).svg) center no-repeat;
        width: 282px;
    }

}