.profile__info {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 24px;
    column-gap: 18px;
}

@media screen and (max-width:480px) {
    .profile__info {
        margin: 0 auto 36px;
        grid-template-columns: 1fr 18px;
    }
}